@import "utils/variables";
@import "utils/mixins";
@import "utils/extends";
@import "utils/fonts";
@import "libs";

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}
$light-color: #FFF;
$accent-color: #65e49c;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;
$gray-color: #9191b5;

code {
    background: rgba(#000, 0.2);
    padding: 5px;
    margin-right: 5px;
}
body {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 24px;
}
.wrap {
    max-width: 1165px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.page-main {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
    padding-bottom: 160px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding: 39px 15px 161px 15px;
    @media(max-width: 1020px) {
        padding: 39px 15px 100px 15px;
    }
    @media(max-width: 920px) {
        flex-direction: column;
    }
    &__logo {
        display: block;
        width: 137px;
        height: 32px;
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
    }
    &-list {
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        font-family: 'Open Sans', serif;
        &__item {
            margin-left: 22px;
            padding-bottom: 5px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            &:hover {
                border-bottom: 3px solid $accent-color;
            }
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            color: $light-color;
            text-decoration: none;
            letter-spacing: 0.5px;
        }
    }
}
.block-text {
    flex-basis: calc(93% - 500px);
    &--width {
        flex-basis: calc(93% - 519px);
        margin-top: -7px;
    }
    &__name {
        font-family: 'Open Sans', serif;
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 28px;
    }
    &__tittle {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.7px;
        margin-bottom: 41px;
        line-height: 50px;
        @media (max-width: 500px) {
            font-size: 30px;
            }
        span {
            display: block;
            color: $accent-color;
            font-size: 18px;
            margin-top: 12px;
            letter-spacing: 0.9px;
            line-height: 20px;
        }
    }
    &__description {
        font-family: 'Open Sans', serif;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 24px;
        letter-spacing: 0.7px;
    }
    &__btn {
        display: block;
        background: linear-gradient(to top left, #65e49c, #65e4b0);
        color: $light-color;
        text-decoration: none;
        max-width: 250px;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        margin-top: 46px;
        margin-bottom: 15px;
        padding: 13px 0;
        letter-spacing: 0.7px;
        box-shadow: 0 -2px #59ba88 inset;
        @media(max-width: 1020px) {
            margin: 46px auto 15px;
        }
    }
    small {
        font-family: 'Open Sans', serif;
        font-size: 12px;
        font-style: italic;
        letter-spacing: 0.5px;
    }
}
.block-text__name_top {
        margin-top: 5px;
        margin-bottom: 21px;
    }
.block-book {
    display: flex;
    justify-content: flex-start;
    @media(max-width: 1020px) {
        flex-direction: column-reverse;
        text-align: center;
    }
    &-demo {
        display: block;
        width: 445px;
        height: 640px;
        background-image: url(../img/book1.png);
        background-repeat: no-repeat;
        flex-basis: 500px;
        position: relative;
        @media(max-width: 1020px) {
            flex-basis: 100%;
            margin: 37px auto 0;
        }
        &__title {
            font-size: 36px;
            font-weight: bold;
            text-transform: uppercase;
            position: absolute;
            top: 116px;
            left: 130px;
            letter-spacing: 1.1px;
            span {
                font-family: 'Open Sans', serif;
                font-size: 14px;
                color: $accent-color;
                display: block;
                text-transform: none;
                margin-top: 10px;
                letter-spacing: 0.2px;
            }
        }
        &__author {
                font-family: 'Open Sans', serif;
                font-size: 14px;
                color: $accent-color;
                position: absolute;
                bottom: 53px;
                left: 86px;
                letter-spacing: 0.6px;
        }
    }
}
.block-ava {
    position: relative;
    @media(max-width: 630px) {
        max-width: 317px;
        margin: 0 auto;
    }
    &__svg {
        position: absolute;
        z-index: -1;
        right: 0;
        @media(max-width: 1020px) {
            width: 300px;
            height: 410px;
    }
    }
    &__svg--left {
        right: inherit;
        left: 0;
        margin-left: 0px;
    }
    &__img {
        margin-top: 39px;
        margin-right: 41px;
        @media(max-width: 1020px) {
            width: 300px;
    }
    }
    &__img--left {
        margin-top: 47px;
        margin-left: 51px;
        margin-right: 0;
        @media(max-width: 500px) {
            margin-left: -11px;
        }
    }
}
.block-author {
    display: flex;
    justify-content: space-between;
    @media(max-width: 650px) {
        flex-direction: column-reverse;
    }
    .block-text {
        @media(max-width: 1020px) {
            flex-basis: calc(93% - 300px);
            margin-left: 10px;
        }
        &__btn {
            padding: 12px 0;
            max-width: 238px;
            background: linear-gradient(to top left, #65e49c, #65e4b0);
            box-shadow: 0 -2px #b2f1be inset;
        }
        &-item {
            &__date {
                font-size: 15px;
                font-family: 'Open Sans', serif;
                letter-spacing: 0.7px;
                margin-bottom: 5px;
            }
            &__tittle {
                font-size: 18px;
                letter-spacing: 0.9px;
                margin-bottom: 16px;
            }
            &__desc {
                font-size: 15px;
                font-family: 'Open Sans', serif;
                letter-spacing: 0.75px;
            }
           &__btn {
                display: block;
                background: linear-gradient(to top left, #65e49c, #65e4b0);
                color: $light-color;
                text-decoration: none;
                max-width: 137px;
                border-radius: 3px;
                text-align: center;
                font-size: 18px;
                margin-top: 24px;
                margin-bottom: 56px;
                padding: 13px 0;
                letter-spacing: 0.7px;
                box-shadow: 0 -2px #59ba88 inset;
            }
        }
    }
}
.box-counter {
    display: flex;
    justify-content: space-around;
    margin-top: 190px;
    margin-bottom: 140px;
    @media (max-width: 750px) {
        flex-direction: column;
        margin: 30px;
    }
    p {
        font-family: 'Open Sans', serif;
        text-align: center;
        font-size: 18px;
        line-height: 59px;
        span {
            font-family: 'Roboto Slab', serif;
            display: block;
            font-size: 80px;
            color: $accent-color;
            font-weight: 100;
            margin-bottom: 13px;
            @media (max-width: 450px) {
                font-size: 50px;
                margin-bottom: -20px;
            }
        }
    }
}

.page {
    padding-top: 167px;
    @media(max-width: 1020px) {
        padding-top: 80px;
    }
    &_grey {
        background-color: $bg-light-color;
        padding-bottom: 262px;
        @media(max-width: 1020px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    &__svg {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
}
.page-grey__name {
    @media(max-width: 320px) {
        line-height: 50px;
    }
}
.page-svg {
    position: relative;
    height: 685px;
    background-color: $bg-dark-color;
    width: 100%;
    @media(max-width: 1300px) {
        background-color: $bg-dark-color;
        width: 100%;
        height: 500px;
        padding: 0
    }
    @media(max-width: 750px) {
        background-color: $bg-dark-color;
        width: 100%;
        height: 600px;
        padding: 0
    }
    @media(max-width: 320px) {
        height: 700px;
    }
}
.box-name {
    font-size: 48px;
    text-align: center;
    letter-spacing: 1.7px;
    margin-left: 9px;
    margin-top: 1px;
    @media(max-width: 500px) {
        font-size: 30px;
    }
}
.subtitle {
    color: $accent-color;
    font-size: 18px;
    padding-top: 23px;
    text-align: center;
    letter-spacing: 0.9px;
    margin-left: 5px;
    @media(max-width: 500px) {
        padding-top: 10px;
        font-size: 15px;
    }
}
h3 {
    font-size: 24px;
    margin-top: 78px;
    letter-spacing: 1.2px;
}
.block-about-icon {
    display: flex;
    p {
        margin-top: 30px;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    &__item     {
        margin-top: 31px;
        margin-left: -30px;
        li {
            display: inline-block;
            vertical-align: middle;
            padding-left: 13px;
            list-style-type: none;
            font-size: 18px;
            &>a {
                color: $accent-color;
            }
        }
    }
}
.block-about {
    display: flex;
    justify-content: space-between;
    @media(max-width: 1020px) {
        flex-direction: column;
        margin: 0 auto;
        max-width: 750px;
    }
    h3 {
        margin-bottom: 18px;
        @media(max-width: 1020px) {
            margin-top: 30px;
        }
    }
    &__desc {
        font-family: 'Open Sans', serif;
        letter-spacing: 0.71px;
    }
    &-text {
        flex-basis: calc(100% - 699px);
        margin-top: 5px;
        @media(max-width: 1020px) {
            flex-basis: 100%;
        }
    }
    &-table {
        flex-basis: 595px;
        margin-top: 4px;
        @media(max-width: 1020px) {
            flex-basis: 100%;
        }
        h3 {
            margin-left: 15px
        }
        &__list {
            padding: 0;
            counter-reset: list;
            column-count: 2;
            margin-top: 26px;
            letter-spacing: 0.6px;
            margin-bottom: 40px;
            column-gap: 15px;
            @media(max-width: 635px) {
                column-count: 1;
            }
            &>li {
                position: relative;
                padding-left: 52px;
                counter-increment: list;
                list-style-type: none;
                margin-bottom: 8px;
                &::before {
                    content: counter(list) ". ";
                }
                &::after {
                    content: "+";
                    position: absolute;
                    background-color: #5fc9b3;
                    font-family: 'Open Sans', serif;
                    font-size: 15px;
                    padding: 2px 7px;
                    color: $light-color;
                    top: 0px;
                    left: 14px;
                    line-height: 18px;
                }
            }
        }
        &__list_next {
            counter-reset: list 10;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                width: 100px;
                height: 2px;
                background-color: #5fc9b3;
                display: block;
                top: -20px;
            }
        }
        &__btn {
            background: linear-gradient(to top left, #65e49c, #65e4b0);
            padding: 13px 47px;
            margin-left: 16px;
            text-decoration: none;
            color: $light-color;
            font-size: 18px;
            border-radius: 5px;
            box-shadow: 0 -2px #b2f1be inset;
            border: none;
            &:focus {
                outline: none;
            }
        }
    }
}
.page_white {
    @media(max-width: 1020px) {
        padding-top: 50px;
    }
}
.page-white {
    @media(max-width: 1020px) {
        padding-top: 50px;
    }
    .three-books {
        display: flex;
        justify-content: space-between;
        margin-top: 84px;
        margin-bottom: -103px;
        @media(max-width: 1020px) {
            flex-direction: column;
            margin-top: 20px;
        }
        .books {
            background-image: url(../img/book%20img.svg);
            background-repeat: no-repeat;
            width: 269px;
            height: 470px;
            display: block;
            position: relative;
            @media(max-width: 1020px) {
                margin: 0 auto;
            }
            &-signature {
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
                position: absolute;
                top: -5px;
                left: 70px;
                letter-spacing: 1.1px;
                color: $light-color;
                @media(max-width: 400px) {
                    top: 0px;
                }
                span {
                    font-family: 'Open Sans', serif;
                    font-size: 12px;
                    color: $accent-color;
                    display: block;
                    text-transform: none;
                    margin-top: 6px;
                    letter-spacing: 0.1px;
                    margin-left: -10.5px;
                }
            }
            &__author {
                font-family: 'Open Sans', serif;
                font-size: 12px;
                color: $accent-color;
                position: absolute;
                bottom: 87px;
                left: 81px;
                letter-spacing: 0.6px;
            }
        }
        .books-left {
            margin-left: 50px;
            @media(max-width: 1020px) {
                margin-left: 0;
                margin: 0 auto;
            }
        }
        .books-right {
            margin-right: 47px;
            @media(max-width: 1020px) {
                margin: 0 auto;
                margin-bottom: 50px;
            }
        }
    }
    &__name {
        @media(max-width: 320px) {
            line-height: 50px;
        }
    }
    .three-text {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 58px;
        @media(max-width: 1020px) {
            display: none;
        }
        .three-books-text {
            width: 315px;
            &__name-books {
                margin-bottom: 17px;
            }
            &>p {
                letter-spacing: 0.7px;
                font-family: 'Open Sans', serif;
            }
            &>h5 {
                font-family: 'Open Sans', serif;
                color: $accent-color;
                font-size: 15px;
                margin-top: 17px;
                letter-spacing: 0.6px;
            }
        }
        .text-left {
            margin-left: 29px;
        }
        .text-right {
            margin-right: 20px;
        }
    }
    &__btn {
        background: linear-gradient(to top left, #65e49c, #65e4b0);
        padding: 13px 0px;
        border: none;
        margin-left: 474px;
        text-decoration: none;
        color: $light-color;
        font-size: 18px;
        border-radius: 3px;
        letter-spacing: 0.6px;
        text-align: center;
        display: block;
        width: 222px;
        box-shadow: 0 -2px #b2f1be inset;
        margin-bottom: 148px;
        @media(max-width: 1020px) {
            margin: 20px auto 80px;
        }
    }
}
.page_grey1 {
    background-color: #f5f6fa;
    padding-bottom: 10px;
    margin-top: 130px;
    @media(max-width: 1020px) {
        padding-top: 50px;
    }
}
.block-blog {
    margin-top: 84px;
    @media(max-width: 900px) {
        flex-direction: column;
        max-width: 600px;
        margin: 40px auto 0;

    }
    &-item {
        flex-basis: 32%;
    }
    &-item:not(:first-child) {
        margin-left: 32px;
        @media(max-width: 900px) {
        flex-direction: column;
            margin-left: 0;
        }
    }
    h4 {
        font-size: 18px;
        letter-spacing: 0.9px;
        margin-bottom: 3px;
    }
    &-img {
        width: 100%;
        height: 224px;
        overflow: hidden;
        position: relative;
        margin-bottom: 16px;
        img{
            width: 100%;
            height: 224px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
    &-info {
        font-size: 15px;
        display: flex;
        letter-spacing: 1px;
        margin-bottom: 11px;
        flex-wrap: wrap;
        a {
            color: $accent-color;
            text-decoration: none;
        }
    }
    &__desc {
        font-size: 15px;
        font-family: 'Open Sans', serif;
        letter-spacing: 0.7px;
        margin-bottom: 84px;
        @media(max-width: 900px) {
            margin-bottom: 20px;
        }

    }
    display: flex;
    justify-content: space-between;
}
.accent-btn {
    padding: 13px 22px;
    margin-left: 453px;
    @media(max-width: 1020px) {
        margin: 0 auto 50px;
    }
}
.block-letter {
    display: flex;
    justify-content: space-between;
    padding-bottom: 155px;
    @media(max-width: 1020px) {
        flex-direction: column;
        text-align: center;
        padding-bottom: 100px;
    }
    &-item {
        flex-basis: 49%;
        @media(max-width: 1020px) {
            margin-bottom: 20px;
            flex-basis: 100%;
        }
    }
    &__tittle {
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 1.9px;
        margin-bottom: 23px;
        @media(max-width: 1020px) {
            line-height: 50px;
        }
    }
    &__text {
        font-family: "Open Sans", serif;
        font-size: 15px;
        letter-spacing: 0.8px;
    }
    &__input {
        width: 100%;
        background-color: $bg-dark-color;
        border: none;
        color: #9191b5;
        padding: 15px 25px;
        box-sizing: border-box;
        border-radius: 3px;
        letter-spacing: 0.65px;
        margin-top: -7px;
        margin-left: 7px;
        @media(max-width: 1020px) {
            max-width: 500px;
        }
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: #9191b5;
        }
    }
    &__btn {
        background: linear-gradient(to top left, #65e49c, #65e4b0);
        padding: 13px 0px;
        margin-top: 21px;
        margin-left: 7px;
        border: none;
        text-decoration: none;
        color: $light-color;
        font-size: 18px;
        border-radius: 3px;
        letter-spacing: 0.6px;
        text-align: center;
        display: block;
        width: 100%;
        box-shadow: 0 -2px #b2f1be inset;
        @media(max-width: 1020px) {
            max-width: 500px;
            margin: 21px auto 0;
        }
        &:focus {
            outline: none;
        }
    }
}
.footer {
    background-color: $bg-dark-color;
    color: $gray-color;
    padding: 168px;
    @media(max-width: 1020px) {
        padding: 100px 0;
    }
}
.block-footer {
    display: flex;
    justify-content: space-between;
    @media(max-width: 450px) {
        flex-direction: column;
    }
    &>div {
        &>p {
        letter-spacing: 0.55px;
        margin-bottom: 23px;
    }
    }
    .block-footer1 {
        width: 375px;
    }
    .block-footer2 {
        margin-left: -57px;
        @media(max-width: 1500px) {
            margin-left: 0;
        }
        .list-letter {
        letter-spacing: 0.5px;
        margin-bottom: 4px;
    }
    }
    .block-footer3 {
        .list-letter {
        letter-spacing: 0.5px;
    }
    }
    &__logo {
        display: block;
        width: 137px;
        height: 32px;
        background-image: url(../img/logo2.svg);
        background-repeat: no-repeat;
        margin-bottom: 14px;
    }
    &__title {
        font-size: 18px;
        color: $accent-color;
        text-transform: uppercase;
        margin-bottom: 20px;
        letter-spacing: 0.5px
    }
    &__list {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: -3px;
    }
    &__social {
        display: flex;
        list-style-type: none;
        padding-left: 0;
        &>li {
            margin-right: 14px;
            &>a {
            color: $accent-color;
            }
        }
    }
}
.block-carousel {
    text-align: center;
    padding-top: 68px;
    &-ava {
        position: relative;
        width: 152px;
        height: 152px;
        display: block;
        margin: 0 auto 25px;
    }
    &-bq {
        position: absolute;
        display: block;
        background-image: url(../img/bq.png);
        background-repeat: no-repeat;
        width: 48px;
        height: 42px;
        top: 0;
        right: -15px;
    }
    h3 {
        color: $accent-color;
        margin-top: 0;
        margin-bottom: 5px;
    }
    &__desc {
        color: $gray-color;
        font-family: 'Open Sans', serif;
        max-width: 765px;
        margin: 0 auto;
        margin-bottom: 30px;
        line-height: 28px;
        letter-spacing: 1px;
    }
    &-thumb {
        display: block;
        margin: 0 auto 0;
        position: relative;
        overflow: hidden;
        width: 152px;
        height: 152px;
        border-radius: 100%;
        img {
            width: 152px;
            height: 152px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
    &__expert {
        margin-bottom: 30px;
    }
}
.slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    &>li {
        margin: 0 5px;
        &>button {
            text-indent: -9999px;
            width: 8px;
            height: 8px;
            border: none;
            background-color: $accent-color;
            border-radius: 100%;
            line-height: 0;
            font-size: 0;
            cursor: pointer;
            padding: 5px;
            &:focus {
                outline: none;
            }
        }
    }
    &>li.slick-active {
        &>button {
            width: 37px;
            border-radius: 10px;
        }
    }
}







//    background: linear-gradient(to top left, #65e49c, #65e4b0);
//    padding: 13px 22px;
//    border: none;
//    margin-left: 453px;
//    text-decoration: none;
//    color: #FFF;
//    font-size: 18px;
//    border-radius: 3px;
//    letter-spacing: 0.6px;
//    text-align: center;
//    display: block;
//    width: 222px;
//    box-shadow: 0 -2px #b2f1be inset;

